app/public/build*.js
app/public/build*.js.map
app/public/webpack-assets.json
app/conf.js
app/conf.js.map
server/**/*.js
server/**/*.js.map
logs/*
!.gitkeep
node_modules/
.tscache
tmp
.DS_Store
.idea
*~

!app/bower_components/