/* app css stylesheet */

.content {
    max-width: 1000px;
}

ins {
    color: #A94442;
    background-color: #F2DEDE;
    text-decoration: none;
}

fieldset {
    margin-bottom: 1em;
    border-bottom: 1px solid #e5e5e5;
}

.glyphicon-spinning {
    animation: spin 1s infinite linear;
}

.is_textarea a { 
    white-space: normal !important;
    max-height: 8.2em;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

.fade-enter-active {
  transition: all 0.5s
}
.fade-leave-active {
  transition: all 0.5s    
}
.fade-enter, .fade-leave-to {
  transform: translateX(100px);
  opacity: 0
}

.current-ldap-value {
    font-style: italic;
    font-size: 1.1rem;
    color: #777;
}