<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Gestion des comptes externes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="<%= webpackConfig.output.publicPath %>static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="<%= webpackConfig.output.publicPath %>static/app.css">
  <script src="<%= webpackConfig.output.publicPath %>static/promise-polyfill.js"></script>
</head>
<body>
  <!--[if lt IE 11]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="container-fluid">
    <div class="page">
      <div class="comptex-bandeau">
        <p class="text-center">
            <img src="<%= webpackConfig.output.publicPath %>static/header.png">
        </p>
        <h1 class="text-center" style="margin-bottom: 1em">{{conf.title}}</h1>
      </div>
      <div class="content">
          <router-view></router-view>
      </div>
    </div>
  </div>
</body>
</html>
