<form novalidate name="myForm" v-on-submit.prevent="submit" :class="[ onelineForm ? 'form-inline' : 'form-horizontal', submitted ? 'submitted' : '' ]">

   <fieldset v-if="v.Shib_Identity_Provider">  
    <my-bootstrap-form-group name="Shib_Identity_Provider" label="Etablissement">
      <input name="Shib_Identity_Provider" :value="v.Shib_Identity_Provider | formatIdpId" type="text" disabled class="form-control">
    </my-bootstrap-form-group>
   </fieldset>

   <div class="with-tabs" v-if="Object.keys(tabs).length">
       <ul class="nav nav-tabs" role="tablist">
           <li role="presentation" :class="{ active: id === selectedTab_ }" v-for="(opts, id) in tabs" :key="id">
               <a :id="'tab_' + id" :aria-controls="'panel_' + id" role="tab" @click="selectedTab = id">{{opts.title}}</a>
           </li>
      </ul>
      <fieldset v-for="(opts, id) in tabs" :key="id"
            :id="'panel_' + id" role="tabpanel" :aria-labelledby="'tab_' + id" :hidden="id !== selectedTab_">
            <div v-for="(opts, name) in opts.properties" :key="name" v-if="opts">
                <genericAttr :name="name" :opts="opts" v-model="v[name]" :v="v" :ldap_value="v_ldap && v_ldap[name]" :stepName="stepName"
                    v-if="name != 'barcode' && name != 'mifare' && opts.uiType !== 'homonym'">
                </genericAttr>
            </div>
      </fieldset>
    </div>

    <div class="without-tabs" v-if="Object.keys(attrs_outside_tabs).length">
      <div v-for="(opts, name) in attrs_outside_tabs" :key="name" class="genericAttrs">
        <genericAttr :name="name" :opts="opts" v-model="v[name]" :v="v" :ldap_value="v_ldap && v_ldap[name]" :stepName="stepName">
        </genericAttr>
      </div>
    </div>

  <BarcodeAttrs v-model="v" :attrs="attrs" v-if="attrs.barcode || attrs.mifare"></BarcodeAttrs>
 
   <my-bootstrap-form-group>
      <button class="btn btn-primary" type="submit" v-if="step_labels.okButton">
        <span class="glyphicon glyphicon-plus"></span>
        <span v-html="step_labels.okButton"></span>
      </button>

      <button class="btn btn-primary" @click.prevent="reject()" v-if="step_labels.cancelButton">
        <span class="glyphicon glyphicon-trash"></span>
        <span v-html="step_labels.cancelButton"></span>
      </button>
    </my-bootstrap-form-group>

</form>
