/* app css stylesheet */

.content {
    max-width: 1000px;
}

/* force the <label>'s height so that it overflows on next entries (to be used when next entries have no <label>s) */
.label_rowspan { 
    height: 1em;
}

h2 {
    font-size: 18px;
}

ins {
    color: #A94442;
    background-color: #F2DEDE;
    text-decoration: none;
}

fieldset {
    margin-bottom: 1em;
    border-bottom: 1px solid #e5e5e5;
}

.glyphicon-spinning {
    animation: spin 1s infinite linear;
}

.is_textarea a { 
    white-space: normal !important;
    max-height: 8.2em;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

.fade-enter-active {
  transition: all 0.5s
}
.fade-leave-active {
  transition: all 0.5s    
}
.fade-enter, .fade-leave-to {
  transform: translateX(100px);
  opacity: 0
}

.current-ldap-value {
    font-style: italic;
    font-size: 1.1rem;
    color: #777;
}

.xsmall {
    font-size: 1rem;
}

/* avoid duplicate labels */
.ArrayAttr > :not(:first-child) .the-label {
    visibility: hidden;
}

.hideIt {
    display: none;
}

.mytooltip {
    display: inline-block;
    position: relative;
}

.mytooltip-popup {
    position: absolute;
    top: -20px; left: 50%; transform: translate(-20%,-100%);

    min-width: 300px;
    text-align: left;

    /* hidden by default */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}
.mytooltip:hover .mytooltip-popup {
    visibility: visible;
    opacity: 1;
}
   
/* intermediate span useful if text is shorter than min-width above */   
.mytooltip-popup > span {
    display: inline-block;
    z-index: 99999999;
    padding: 14px 10px 14px 14px; 
    white-space: normal;

    border-radius: 4px;
    box-shadow: 1px 1px 2px 0px #777;
}

.mytooltip-popup > span,
.mytooltip-arrow::after {
    background-color: white; transition: background-color 2s;
}
.mytooltip:hover .mytooltip-popup > span,
.mytooltip:hover .mytooltip-arrow::after {
    background-color: #B5C1DA;
}

.mytooltip-text {
    display: inline-block;
    color: #333;
    font-weight: normal;
    font-size: 13px;
    text-align: left;
}

.mytooltip-arrow {
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -15px;
    width: 30px;
    height: 15px;
    overflow: hidden;
}
.mytooltip-arrow::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    box-shadow: 2px 0px 2px 0px #777;;
}

/* hack to display compact form-inline:
   - everything on one line
   - hide <label>s
*/
.form-inline .genericAttrs,
.form-inline .genericAttr { 
    display: inline-block;
}
.form-inline .the-label {
    display: none;
}

.my-radio-inline {
    padding-top: 5px;
}
.my-radio-inline:not(:first-child) {
    margin-left: 10px;
}

label {
    font-weight: initial; /* until we remove bootstrap */
}

.label-and-more {
  display: flex;
  flex-wrap: wrap;
  clear: both;
}

.label-and-more > .the-label {
    font-weight: 700;
    flex: 0.3 0 100%;
    margin: 0 1.5rem;
}
.label-and-more > .on-the-right {
    flex: 1 0;
    margin: 0 1.5rem;
}

@media screen and (min-width: 992px) {
    .label-and-more > .the-label {
        flex-basis: 0;
        text-align: right;
        padding-top: 7px;
    }
}
form:not(.submitted) .my-has-error .help-block {
    display: none;
}

form.submitted .my-has-error .the-label,
form.submitted .my-has-error .help-block,
form.submitted .my-has-error .control-label,
form.submitted .my-has-error .radio,
form.submitted .my-has-error .checkbox,
form.submitted .my-has-error .radio-inline,
form.submitted .my-has-error .checkbox-inline,
form.submitted .my-has-error.radio label,
form.submitted .my-has-error.checkbox label,
form.submitted .my-has-error.radio-inline label,
form.submitted .my-has-error.checkbox-inline label {
    color: #a94442;
}
form.submitted .my-has-error .form-control {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
form.submitted .my-has-error .form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
