<div class="normalContent">

 <div v-if="resp && resp.component">
    <component :is="resp.component" :resp="resp"></component>
 </div>
 <div v-else-if="v">
  <h4 style="margin-top: 2em" v-html="step.labels.title"></h4>

  <div v-if="step.allow_many">
    
        <div v-if="imported">
            <ImportResult :imported="imported" :ordered_fields="to_import.fields" @done="imported = to_import = undefined"></ImportResult>
        </div>
        <div v-else>
            <ImportFile @change="val => to_import = val"></ImportFile>
        </div>
</div>

<div v-if="!imported">

 <div v-if="isMember" class="alert alert-danger">
     {{v.givenName}} {{v.sn}} est {{conf.affiliation_labels[v.eduPersonPrimaryAffiliation]}}
     <span v-if="anneeInscription">
         {{anneeInscription}}/{{anneeInscription+1}}
     </span>
 </div>

  <div v-if="check_homonyms">
      <Homonyms :v="v" :id="id" @merge="merge"></Homonyms>
  </div>
               
 <form novalidate name="myForm" @submit.prevent="submit" class="form-horizontal">

   <fieldset>  
    <my-bootstrap-form-group name="Shib_Identity_Provider" label="Etablissement" v-if="v.Shib_Identity_Provider">
      <input name="Shib_Identity_Provider" :value="v.Shib_Identity_Provider | formatIdpId" type="text" disabled class="form-control">
    </my-bootstrap-form-group>
 
    <my-bootstrap-form-group name="eduPersonPrincipalName" label="Identifiant dans l'établissement" v-if="v.eduPersonPrincipalName">
      <input name="eduPersonPrincipalName" v-model="v.eduPersonPrincipalName" type="text" disabled form-control>
    </my-bootstrap-form-group>
 
    <my-bootstrap-form-group name="mail" label="Mail" v-if="v.mail">
      <input name="mail" v-model="v.mail" type="text" disabled form-control>
    </my-bootstrap-form-group>
   </fieldset>

   <my-bootstrap-form-group name="supannCivilite" :label="attr_labels.supannCivilite" :validity="validity" v-if="other_attrs.supannCivilite">
    <radio-with-validity :values="{'M.': 'M.', Mme: 'Mme'}" name="supannCivilite" v-model="v.supannCivilite" :validity.sync="validity.supannCivilite"></radio-with-validity>
  </my-bootstrap-form-group>

  <my-bootstrap-form-group name="givenName" :label="attr_labels.givenName" :validity="validity" v-if="other_attrs.givenName">
    <input-with-validity name="givenName" v-model="v.givenName" type="text" :allowed-chars="allowedCharsInNames" required :validity.sync="validity.givenName"></input-with-validity>
  </my-bootstrap-form-group>

  <my-bootstrap-form-group name="sn" :label="attr_labels.sn" :validity="validity" v-if="other_attrs.sn">
    <input-with-validity name="sn" v-model="v.sn" type="text" :allowed-chars="allowedCharsInNames" required :validity.sync="validity.sn"></input-with-validity>
  </my-bootstrap-form-group>

  <my-bootstrap-form-group name="birthName" :label="attr_labels.birthName" :validity="validity" v-if="other_attrs.birthName">
    <input-with-validity name="birthName" v-model="v.birthName" type="text" title="si différent du nom d'usage" :allowed-chars="allowedCharsInNames" :validity.sync="validity.birthName"></input-with-validity>
  </my-bootstrap-form-group>

  <DateAttr v-model="v.birthDay" minYear="1900" :maxYear="maxYear" :label="attr_labels.birthDay" v-if="other_attrs.birthDay"  :submitted="submitted"></DateAttr>

  <AddressAttr v-model="v.homePostalAddress" :label="attr_labels.homePostalAddress" v-if="other_attrs.homePostalAddress" :submitted="submitted"></AddressAttr>

  <my-bootstrap-form-group name="homePhone" :label="attr_labels.homePhone" :validity="validity" v-if="other_attrs.homePhone">
    <input-with-validity name="homePhone" v-model="v.homePhone" real-type="phone" required :validity.sync="validity.homePhone"></input-with-validity>
  </my-bootstrap-form-group>

  <my-bootstrap-form-group name="supannMailPerso" :label="attr_labels.supannMailPerso" :validity="validity" v-if="other_attrs.supannMailPerso">
    <input-with-validity name="supannMailPerso" v-model="v.supannMailPerso" type="email" required :validity.sync="validity.supannMailPerso"></input-with-validity>
  </my-bootstrap-form-group>

  <StructureAttr v-model="v.structureParrain" :label="attr_labels.structureParrain" :attrs="attrs.structureParrain" :submitted="submitted" v-if="other_attrs.structureParrain"></StructureAttr>

  <my-bootstrap-form-group name="duration" :label="attr_labels.duration_month" v-if="other_attrs.duration" :validity="validity">
    <input-with-validity name="duration" :value="v.duration / 30" @input="v.duration = $event * 30" type="number" min="1" :max="attrs.duration.max / 30" required :validity.sync="validity.duration"></input-with-validity>
  </my-bootstrap-form-group>

  <jpegPhotoAttr v-model="v.jpegPhoto" :label="label.jpegPhoto" :attrs="attrs.jpegPhoto" :submitted="submitted" v-if="other_attrs.jpegPhoto"></jpegPhotoAttr>
  
   <PasswordAttr v-model="v.userPassword" :label="label.userPassword" :submitted="submitted" v-if="other_attrs.userPassword"></PasswordAttr>

   <my-bootstrap-form-group name="profilename" :label="label.profilename" :validity="validity" v-if="other_attrs.profilename">
    <radio-with-validity :values="profilename2descr" name="profilename" v-model="v.profilename" :validity.sync="validity.profilename"></radio-with-validity>
   </my-bootstrap-form-group>
   
   <BarcodeAttrs v-model="v" :attrs="other_attrs" :submitted="submitted" :v_orig="v_orig" v-if="other_attrs.barcode || other_attrs.mifare"></BarcodeAttrs>
   
   <my-bootstrap-form-group>
      <button class="btn btn-primary" type="submit" v-if="step.labels.okButton">
        <span class="glyphicon glyphicon-plus"></span>
        <span v-html="step.labels.okButton"></span>
      </button>

      <button class="btn btn-primary" @click.prevent="reject()" v-if="step.labels.cancelButton">
        <span class="glyphicon glyphicon-trash"></span>
        <span v-html="step.labels.cancelButton"></span>
      </button>
    </my-bootstrap-form-group>

 </form>
</div>
</div>
</div>
