<form novalidate name="myForm" v-on-submit.prevent="submit" class="form-horizontal">

   <fieldset>  
    <my-bootstrap-form-group name="Shib_Identity_Provider" label="Etablissement" v-if="v.Shib_Identity_Provider">
      <input name="Shib_Identity_Provider" :value="v.Shib_Identity_Provider | formatIdpId" type="text" disabled class="form-control">
    </my-bootstrap-form-group>
 
    <my-bootstrap-form-group name="eduPersonPrincipalName" label="Identifiant dans l'établissement" v-if="v.eduPersonPrincipalName">
      <input name="eduPersonPrincipalName" v-model="v.eduPersonPrincipalName" type="text" disabled form-control>
    </my-bootstrap-form-group>
 
    <my-bootstrap-form-group name="mail" label="Mail" v-if="v.mail">
      <input name="mail" v-model="v.mail" type="text" disabled class="form-control">
    </my-bootstrap-form-group>
   </fieldset>

   <my-bootstrap-form-group name="supannCivilite" :label="attr_labels.supannCivilite" :validity="validity" v-if="attrs.supannCivilite">
    <radio-with-validity name="supannCivilite" v-model="v.supannCivilite"
        :values="attrs.supannCivilite.choicesMap" :validity.sync="validity.supannCivilite">
    </radio-with-validity>
  </my-bootstrap-form-group>

  <genericAttr name="givenName" :attr="attrs.givenName" v-model="v.givenName" :submitted="submitted"></genericAttr>
  
  <genericAttr name="sn" :attr="attrs.sn" v-model="v.sn" :submitted="submitted"></genericAttr>

  <genericAttr name="birthName" :attr="attrs.birthName" v-model="v.birthName" :submitted="submitted"></genericAttr>

  <DateAttr v-model="v.birthDay" minYear="1900" :maxYear="currentYear" :label="attr_labels.birthDay" v-if="attrs.birthDay"  :submitted="submitted"></DateAttr>

  <AddressAttr v-model="v.homePostalAddress" :label="attr_labels.homePostalAddress" v-if="attrs.homePostalAddress" :submitted="submitted"></AddressAttr>

  <genericAttr name="homePhone" :attr="attrs.homePhone" v-model="v.homePhone" :submitted="submitted"></genericAttr>

  <genericAttr name="supannMailPerso" :attr="attrs.supannMailPerso" v-model="v.supannMailPerso" :submitted="submitted"></genericAttr>

  <StructureAttr v-model="v.structureParrain" :label="attr_labels.structureParrain" :attrs="attrs.structureParrain" :submitted="submitted" v-if="attrs.structureParrain"></StructureAttr>

  <my-bootstrap-form-group name="duration_or_enddate" :label="attr_labels.duration_or_enddate" :validity="validity" v-if="attrs.duration_or_enddate">
    <radio-with-validity name="duration_or_enddate" v-model="v.duration_or_enddate"
        :values="attrs.duration_or_enddate.choicesMap" :validity.sync="validity.duration_or_enddate">
    </radio-with-validity>
  </my-bootstrap-form-group>

  <my-bootstrap-form-group name="duration" :label="attr_labels.duration" v-if="attrs.duration" :validity="validity">
    <select-with-validity name="duration" v-model="v.duration" :choices="attrs.duration.choices"
        :required="!attrs.duration.optional" :validity.sync="validity.duration">
    </select-with-validity>
  </my-bootstrap-form-group>

  <DateAttr v-model="v.enddate" :minYear="currentYear" :label="attr_labels.enddate" v-if="attrs.enddate" :submitted="submitted"></DateAttr>

  <genericAttr name="telephoneNumber" :attr="attrs.telephoneNumber" v-model="v.telephoneNumber" :submitted="submitted"></genericAttr>
  
  <my-bootstrap-form-group name="roomAccess" :label="attr_labels.roomAccess" v-if="attrs.roomAccess">
    <select name="roomAccess" v-model="v.roomAccess">
        <option v-for="option in attrs.roomAccess.choices" :value="option.key">
            {{option.name}}
        </option>
    </select>
  </my-bootstrap-form-group>

  <my-bootstrap-form-group name="floorNumber" :label="attr_labels.floorNumber" v-if="attrs.floorNumber">
    <select name="floorNumber" v-model="v.floorNumber">
        <option v-for="option in attrs.floorNumber.choices" :value="option.key">
            {{option.name}}
        </option>
    </select>
  </my-bootstrap-form-group>

  <genericAttr name="roomNumber" :attr="attrs.roomNumber" v-model="v.roomNumber" :submitted="submitted"></genericAttr>

  <jpegPhotoAttr v-model="v.jpegPhoto" :label="label.jpegPhoto" :attrs="attrs.jpegPhoto" :submitted="submitted" v-if="attrs.jpegPhoto"></jpegPhotoAttr>
  
   <PasswordAttr v-model="v.userPassword" :label="label.userPassword" :submitted="submitted" v-if="attrs.userPassword"></PasswordAttr>

  <my-bootstrap-form-group name="profilename" :label="label.profilename" :validity="validity" v-if="attrs.profilename">
    <radio-with-validity name="profilename" v-model="v.profilename"
        :values="attrs.profilename.choicesMap" :validity.sync="validity.profilename">
    </radio-with-validity>
  </my-bootstrap-form-group>
   
   <BarcodeAttrs v-model="v" :attrs="attrs" :submitted="submitted" :v_orig="v_orig" v-if="attrs.barcode || attrs.mifare"></BarcodeAttrs>

    <my-bootstrap-form-group name="siret" multi="true" :label="label.siret" v-if="attrs.siret">
       <div class="col-xs-3" :class="{'has-error': validity.submitted && !validity.siret.valid}">
           <input-with-validity name="siret" v-model="v.siret" real-type="siret" placeholder="Numéro SIRET" :required="!attrs.siret.optional" :validity.sync="validity.siret"></input-with-validity>
           <validation-errors name="siret" :validity="validity"></validation-errors>
       </div>
    </my-bootstrap-form-group>

  <my-bootstrap-form-group name="charter" :label="label.charter" :validity="validity"  v-if="attrs.userPassword">
    <div class="checkbox">
      <label>
        <checkbox-with-validity name="charter" :value="v.charter" :validity.sync="validity.charter"></checkbox-with-validity>
        <span v-html="conf.attrs_description.charter"></span>
      </label>
    </div>
  </my-bootstrap-form-group>

   <my-bootstrap-form-group>
      <button class="btn btn-primary" type="submit" v-if="step_labels.okButton">
        <span class="glyphicon glyphicon-plus"></span>
        <span v-html="step_labels.okButton"></span>
      </button>

      <button class="btn btn-primary" @click.prevent="reject()" v-if="step_labels.cancelButton">
        <span class="glyphicon glyphicon-trash"></span>
        <span v-html="step_labels.cancelButton"></span>
      </button>
    </my-bootstrap-form-group>

</form>
