<form novalidate name="myForm" v-on-submit.prevent="submit" class="form-horizontal">

   <fieldset>  
    <my-bootstrap-form-group name="Shib_Identity_Provider" label="Etablissement" v-if="v.Shib_Identity_Provider">
      <input name="Shib_Identity_Provider" :value="v.Shib_Identity_Provider | formatIdpId" type="text" disabled class="form-control">
    </my-bootstrap-form-group>
   </fieldset>

   <div v-for="(_, name) in attrs">
     <genericAttr :name="name" :opts="attrs[name]" v-model="v[name]" :v="v" :ldap_value="v_ldap && v_ldap[name]" :submitted="submitted"
         v-if="name != 'barcode' && name != 'mifare' && attrs[name].uiType !== 'homonym'">
     </genericAttr>
   </div>

  <BarcodeAttrs v-model="v" :attrs="attrs" :submitted="submitted" v-if="attrs.barcode || attrs.mifare"></BarcodeAttrs>
 
   <my-bootstrap-form-group>
      <button class="btn btn-primary" type="submit" v-if="step_labels.okButton">
        <span class="glyphicon glyphicon-plus"></span>
        <span v-html="step_labels.okButton"></span>
      </button>

      <button class="btn btn-primary" @click.prevent="reject()" v-if="step_labels.cancelButton">
        <span class="glyphicon glyphicon-trash"></span>
        <span v-html="step_labels.cancelButton"></span>
      </button>
    </my-bootstrap-form-group>

</form>
