<div>
  <my-bootstrap-form-group name="profilename" :label="label.profilename" :validity="validity">
    <radio-with-validity :values="profilename2descr" name="profilename" v-model="v.profilename" @validity="validity.profilename = $event"></radio-with-validity>
  </my-bootstrap-form-group>

   <my-bootstrap-form-group name="barcode" :label="label.barcode" :validity="validity" v-if="attrs.barcode">
     <input-with-validity name="barcode" v-model="v.barcode" type="number" v-auto-focus required @validity="validity.barcode = $event"></input-with-validity>
   </my-bootstrap-form-group>

</div>
