<div ng-include="'templates/form-errors.html'"></div>

  <div my-bootstrap-form-group="supannCivilite" label="{{label.supannCivilite}}">
    <label class="radio-inline" ng-repeat="val in ['M.', 'Mme']">
      <input type="radio" name="supannCivilite" ng-model="v.supannCivilite" ng-value="val" required>{{val}}
    </label>
  </div>

  <div my-bootstrap-form-group="givenName" label="{{label.givenName}}">
    <input name="givenName" ng-model="v.givenName" type="text" required form-control>
  </div>

  <div my-bootstrap-form-group="sn" label="{{label.sn}}">
    <input name="sn" ng-model="v.sn" type="text" required form-control>
  </div>

  <div my-bootstrap-form-group="birthName" label="{{label.birthName}}">
    <input name="birthName" ng-model="v.birthName" type="text" form-control>
  </div>

  <div my-bootstrap-form-group="day" multi="true" label="{{label.birthDay}}">
    <div class="col-xs-2" my-has-error="day">
      <div my-error-msgs="day">
	<input name="day" ng-model="v.birthDay.day" type="number" min="1" max="{{maxDay}}" placeholder="Jour" required form-control>
      </div>
    </div>
    <div class="col-xs-2" my-has-error="month">
      <div my-error-msgs="month">
	<input name="month" ng-model="v.birthDay.month" type="number" min="1" max="12" placeholder="Mois" required form-control>
      </div>
    </div>
    <div class="col-xs-5" my-has-error="year">
      <div my-error-msgs="year">
	<input name="year" ng-model="v.birthDay.year" type="number" min="1900" max="{{maxYear}}" placeholder="Année" required  form-control>
      </div>
    </div>
  </div>

  <div my-bootstrap-form-group="homePostalAddress" label="{{label.homePostalAddress}}">
    <textarea name="homePostalAddress" ng-model="v.homePostalAddress" rows="3" required form-control>
    </textarea>
  </div>

  <div my-bootstrap-form-group="homePhone" label="{{label.homePhone}}">
    <input name="homePhone" ng-model="v.homePhone" phone required form-control>
  </div>

