<div class="normalContent" v-if="v">

 <div v-if="isMember" class="alert alert-danger">
     {{v.givenName}} {{v.sn}} est {{conf.affiliation_labels[v.eduPersonPrimaryAffiliation]}}
     <span v-if="anneeInscription">
         {{anneeInscription}}/{{anneeInscription+1}}
     </span>
 </div>
           
               
 <form novalidate name="myForm" @submit.prevent="submit" class="form-horizontal">

   <common-attrs v-model="v" :attrs="attrs" :submitted="submitted"></common-attrs>
   <extern-attrs v-model="v" :attrs="attrs" :submitted="submitted"></extern-attrs>
   <password-attrs v-model="v" :attrs="attrs" :submitted="submitted"></password-attrs>
   <barcode-attrs v-model="v" :attrs="attrs" :submitted="submitted" :v_orig="v_orig"></barcode-attrs>   
   
   <my-bootstrap-form-group>
      <button class="btn btn-primary" type="submit">
        <span class="glyphicon glyphicon-plus"></span>
        <span v-html="step.labels.okButton"></span>
      </button>

      <button class="btn btn-primary" @click.prevent="reject()" v-if="step.labels.cancelButton">
        <span class="glyphicon glyphicon-trash"></span>
        <span v-html="step.labels.cancelButton"></span>
      </button>
    </my-bootstrap-form-group>

 </form>

</div>
