<div class="normalContent" v-if="v">
 
 <h4 style="margin-top: 2em">Création de compte</h4>

 <form novalidate name="myForm" @submit.prevent="submit" class="form-horizontal">

   <common-attrs v-model="v" :attrs="attrs" :submitted="submitted"></common-attrs>
   <extern-attrs v-model="v" :attrs="attrs" :submitted="submitted"></extern-attrs>
   <password-attrs v-model="v" :attrs="attrs" :submitted="submitted"></password-attrs>

   <my-bootstrap-form-group>
      <button class="btn btn-primary" type="submit">
        <span class="glyphicon glyphicon-plus"></span>
        Demander la création</button>
   </my-bootstrap-form-group>

 </form>

</div>
