<div>
  <my-bootstrap-form-group name="supannMailPerso" :label="label.supannMailPerso" :validity="validity">
    <input-with-validity name="supannMailPerso" v-model="v.supannMailPerso" type="email" required @validity="validity.supannMailPerso = $event"></input-with-validity>
  </my-bootstrap-form-group>

  <my-bootstrap-form-group name="structureParrain" :label="label.structureParrain" v-if="attrs.structureParrain" :validity="validity">
    <div v-if="!attrs.structureParrain.readonly">
      <input-with-validity name="structureParrain" :value="v.structureParrainS" type="text" style="display: none" @validity="validity.structureParrain = $event"></input-with-validity>
      <v-select v-model="v.structureParrainS" :options="structures_search_result" label="description" :on-search="structures_search"></v-select>
    </div>
  </my-bootstrap-form-group>

  <my-bootstrap-form-group name="duration" :label="label.duration_month" v-if="attrs.duration" :validity="validity">
    <input-with-validity name="duration" :value="v.duration / 30" @input="v.duration = $event * 30" type="number" min="1" :max="attrs.duration.max / 30" required @validity="validity.duration = $event"></input-with-validity>
  </my-bootstrap-form-group>



  <my-bootstrap-form-group name="jpegPhoto" :label="label.jpegPhoto" v-if="attrs.jpegPhoto" :validity="validity">
      <!-- for validation: -->
      <input-with-validity name="jpegPhoto" v-model="v.jpegPhoto" type="text" style="display: none" required @validity="validity.jpegPhoto = $event"></input-with-validity>

      <div v-if="v.jpegPhoto">
          <img :src="v.jpegPhoto">
          <a href="#" @click.prevent="v.jpegPhoto = ''">Changer la photo</a>
      </div>
      <div v-if="!v.jpegPhoto">
          <webcam-live-portrait width="240" height="300" :doget="doGet" @image="v.jpegPhoto = $event"></webcam-live-portrait>
          <a href="#" @click.prevent="doGet = [0]">Prendre une photo</a>
      </div>
  </my-bootstrap-form-group>
</div>
