<script type="text/ng-template" id="form-errors">
  <span class="help-block" ng-message="required">Ce champ est obligatoire.</span>
  <span class="help-block" ng-message="min">Le nombre est trop petit.</span>
  <span class="help-block" ng-message="max">Le nombre est trop grand.</span>
  <span class="help-block" ng-message="email">Le champ doit être une adresse mail.</span>
  <span class="help-block" ng-message="phone">Le champ doit être un numéro de téléphone. Exemple: 01 02 03 04 05</span>
  <span class="help-block" ng-message="frenchPostalCode">Le champ doit être un code postal. Exemple: 75013</span>
  <span class="help-block" ng-message="number">Le champ doit être un nombre.</span>
</script>
