<div>

<div v-for="step in initialSteps" v-if="initialSteps">
    <InitialStep :step="step"></InitialStep>
</div>

<div v-for="(svs_,step) in svsGroupedByStep">      
 <h4 v-if="svs_[0].labels" v-html="svs_[0].labels.title"></h4>
 <ul>
  <li v-for="sv in svs_">
  le {{sv.modifyTimestamp | date('dd/MM/yyyy à HH:mm')}} : 
   <router-link :to="'/' + sv.step + '/' + sv.id">
     {{sv.v.sn || 'inconnu'}}
     {{sv.v.givenName || 'inconnu'}}
   </router-link>
</li>
</ul>
</div>

<div v-if="svs && svs.length === 0">
  Rien à modérer
</div>

</div>