<div class="normalContent" v-if="v && homonymes"> 

 <h4 style="margin-top: 2em">Modérer la création du compte</h4>

 <div v-if="homonymes.length || v.uid">
   <p style="height: 2em"></p>
     <div class="alert alert-danger" >
         <div v-if="v.uid">
            Le compte sera fusionné avec le compte existant {{v.uid}}
         </div>
         <div v-else>
       Les informations fournies pour le nouveau compte correspondent à un compte existant.
         </div>
     </div>
 </div>

 <div v-for="homonyme in homonymes" v-if="!v.uid">
   <p style="height: 0.5em"></p>
   <compare-users :v="v" :homonyme="homonyme"></compare-users>
   <button class="btn btn-primary" @click="merge(homonyme)"><span class="glyphicon glyphicon-resize-small"></span> Fusionner avec {{homonyme.uid}}</button>
   <p style="height: 1em"></p>
 </div>


 <form novalidate name="myForm" @submit.prevent="submit" class="form-horizontal">

  <fieldset>  
   <my-bootstrap-form-group name="Shib_Identity_Provider" label="Etablissement" v-if="v.Shib_Identity_Provider">
     <input name="Shib_Identity_Provider" :value="v.Shib_Identity_Provider | formatIdpId" type="text" disabled class="form-control">
   </my-bootstrap-form-group>

   <my-bootstrap-form-group name="eduPersonPrincipalName" label="Identifiant dans l'établissement" v-if="v.eduPersonPrincipalName">
     <input name="eduPersonPrincipalName" v-model="v.eduPersonPrincipalName" type="text" disabled form-control>
   </my-bootstrap-form-group>

   <my-bootstrap-form-group name="mail" label="Mail" v-if="v.mail">
     <input name="mail" v-model="v.mail" type="text" disabled form-control>
   </my-bootstrap-form-group>
  </fieldset>

  <barcode-attrs v-model="v" :attrs="attrs" :submitted="submitted"></barcode-attrs>   
  <common-attrs v-model="v" :attrs="attrs" :submitted="submitted"></common-attrs>
  <extern-attrs v-model="v" :attrs="attrs" :submitted="submitted"></extern-attrs>

  <my-bootstrap-form-group>
      <button class="btn btn-primary" type="submit">
        <span class="glyphicon glyphicon-plus"></span>
        Approuver</button>

      <button class="btn btn-primary" @click.prevent="reject()">
        <span class="glyphicon glyphicon-trash"></span>
        Rejeter</button>
  </my-bootstrap-form-group>

 </form>
</div>

