
  <div my-bootstrap-form-group="userPassword" label="{{label.userPassword}}">
    <input name="userPassword" ng-model="v.userPassword" type="password" ng-pattern="passwordPattern" required form-control>
    <span class="help-block">Veuillez choisir un mot de passe comportant au moins 8 caractères. Ce mot de passe doit contenir des lettres minuscules, des lettres majuscules et des chiffres.</span>
  </div>

  <div my-bootstrap-form-group="userPassword2" label="Confirmer le mot de passe">
    <input name="userPassword2" ng-model="userPassword2" type="password" same-as="v.userPassword" required form-control>
    <span class="help-block" ng-if="myForm.userPassword2.$error.sameAs">Les mots de passe ne sont pas identiques</span>
  </div>
