<div>
  <my-bootstrap-form-group name="userPassword" :label="label.userPassword" :validity="validity" hideErrors=1>
    <input-with-validity name="userPassword" v-model="v.userPassword" type="password" :pattern="passwordPattern" required @validity="validity.userPassword = $event"></input-with-validity>
    <span class="help-block" v-if="!validity.userPassword.valid">{{error_msg.userPassword}}</span>
  </my-bootstrap-form-group>

  <my-bootstrap-form-group name="userPassword2" :label="label.userPassword2" :validity="validity" hideErrors=1>
    <input-with-validity name="userPassword2" v-model="userPassword2" type="password" :same-as="v.userPassword" required @validity="validity.userPassword2 = $event"></input-with-validity>
    <span class="help-block" v-if="validity.userPassword2.patternMismatch && !validity.userPassword.patternMismatch">Les mots de passe ne sont pas identiques</span>
  </my-bootstrap-form-group>
</div>