
  <div my-bootstrap-form-group="userPassword" label="{{label.userPassword}}">
    <input name="userPassword" ng-model="v.userPassword" type="password" required form-control>
  </div>

  <div my-bootstrap-form-group="userPassword2" label="Confirmer le mot de passe">
    <input name="userPassword2" ng-model="userPassword2" type="password" same-as="v.userPassword" required form-control>
    <span class="help-block" ng-if="myForm.userPassword2.$error.sameAs">Les mots de passe ne sont pas identiques</span>
  </div>
