<div class="normalContent" v-if="v"> 

 <h4 style="margin-top: 2em">Ré-inscription du compte {{v.displayName}}</h4>


 <form novalidate name="myForm" @submit.prevent="submit" class="form-horizontal">

  <fieldset>  
   <my-bootstrap-form-group name="Shib_Identity_Provider" label="Etablissement" v-if="v.Shib_Identity_Provider">
     <input name="Shib_Identity_Provider" :value="v.Shib_Identity_Provider | formatIdpId" type="text" disabled class="form-control">
   </my-bootstrap-form-group>

   <my-bootstrap-form-group name="eduPersonPrincipalName" label="Identifiant dans l'établissement" v-if="v.eduPersonPrincipalName">
     <input name="eduPersonPrincipalName" v-model="v.eduPersonPrincipalName" type="text" disabled form-control>
   </my-bootstrap-form-group>

   <my-bootstrap-form-group name="mail" label="Mail" v-if="v.mail">
     <input name="mail" v-model="v.mail" type="text" disabled form-control>
   </my-bootstrap-form-group>
  </fieldset>

  <barcode-attrs v-model="v" :attrs="attrs" :submitted="submitted"></barcode-attrs>   
  <common-attrs v-model="v" :attrs="attrs" :submitted="submitted"></common-attrs>
  <extern-attrs v-model="v" :attrs="attrs" :submitted="submitted"></extern-attrs>

  <my-bootstrap-form-group>
      <button class="btn btn-primary" type="submit">
        <span class="glyphicon glyphicon-plus"></span>
        Approuver</button>
  </my-bootstrap-form-group>

 </form>
</div>

